.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FBEEC1;
}

.navbar li{
    display: inline;
    color: white;
}
.navbar a{
    text-decoration: none;

    text-align: center;

    font-family: Calibri;
    font-size: 1.3em;
    font-style: italic;

    padding-left: 3%;
}

.navbar a:hover{
    background-color: white;
}